@import "tailwindcss";
@import './css/navbar.css';
@import './css/search.css';
@import './css/logo.css';
@import './css/about.css';
@import './css/features.css';
@import './css/faq.css';

body{
  background-color: #333232;
}
.nav-button {
  margin: 1px;
  padding: 7px 25px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  color: black;
}

.nav-button:hover {
  letter-spacing: 3px;
  background-color: #fd105e;
  color: hsl(0, 0%, 100%);
  box-shadow: #fd105e 0px 7px 29px 0px;
}

.nav-button:active {
  letter-spacing: 3px;
  background-color: #f87ca5;
  color: hsl(0, 0%, 100%);
  box-shadow: #f87ca5 0px 0px 0px 0px;

}
/* submit button */

.submit-button {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.submit-button:before,
.submit-button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

.submit-button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.submit-button:after {
  border: 4px solid #f096cf;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.submit-button:hover:before,
.submit-button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.submit-button:hover:after,
.submit-button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.submit-button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.submit-button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.submit-button:hover .submit-button-box,
.submit-button:focus .submit-button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
